<div class="main-body">
    <div class="model">
        <div class="log-form">
            <form class="login-form">

                <div class="col">
                    <label for="userName">Username</label>
                    <input [(ngModel)]="loginAdminData.userName" type="text" name="userName" id="userName"
                        placeholder="Enter username">
                </div>

                <div class="col">
                    <label for="password">Password</label>
                    <input [(ngModel)]="loginAdminData.password" type="password" name="password" id="password"
                        placeholder="Enter password">
                </div>

                <div class="butn-row">
                    <button type="submit" class="butn" (click)="LoginAdmin()">Login</button>
                </div>
            </form>
            <div class="sign-up">
                <h3>New to E-Commerce website?</h3>
                <div class="butn-row">
                    <button class="butn" (click)="goToRegister()">Register as Admin</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="loginError">
    <div class="overlay-content">
        <div class="card pop-up">
            <h1>Login Unsuccessfull</h1>
            <div class="info">
                <p>Incorrect Username or Password.</p>
                <p>Login to Continue.</p>
            </div>
            <div class="row justify-content-end">
                <button (click)="tryAgain()">Try Again</button>
            </div>
        </div>
    </div>
</div>