<div class="card page">
    <div class="head">
        <h2>Products listed by {{AdminData.userName}}</h2>
    </div>
    <hr>
    <div class="listing">
        <div *ngFor="let product of AdminProducts">
            <div class="card">
                <div class="product">
                    <div class="pro-image">
                        <img [src]="product.image" alt="">
                    </div>
                    <div class="pro-info">
                        <h1>{{product.name}}</h1>
                        <p class="rate-info">
                            <span class="rating">
                                <span>4.2</span>
                                <mat-icon class="star">star</mat-icon>
                            </span>
                            <span class="rate-stat">14,734 Ratings &</span>
                            <span class="rate-stat">1,554 Reviews</span>
                        </p>
                        <ul class="specs">
                            <li *ngFor="let item of product.specs">
                                {{item}}
                            </li>
                        </ul>
                    </div>
                    <div class="pro-options">
                        <button class="btn butn"
                            (click)="goToProduct(product.id)">View<mat-icon>north_east</mat-icon></button>
                        <button class="btn butn"
                            [routerLink]="['/admin/edit-product/',product.id]">Edit<mat-icon>edit</mat-icon></button>
                        <button class="btn butn"
                            (click)="DeleteProduct(product.id)">Delete<mat-icon>delete</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="overlay" *ngIf="showDelete">
    <div class="overlay-content">
        <div class="card pop-up">
            <h1>Delete Product</h1>
            <div class="info">
                <p>Confirm to delete the product.</p>
            </div>
            <div class="row justify-content-end">
                <button class="btn btn-secondary" (click)="showDelete = false">Cancel</button>
                <button class="btn btn-danger" (click)="ConfirmDelete()">Confirm</button>
            </div>
        </div>
    </div>
</div>