.card {
    padding: 1rem;
    margin: 1rem 0;
}

.head {
    padding: 15px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head button {
    border: none;
    border-radius: 100%;
    background-color: blue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 27px;
}

.head h2 {
    font-size: 20px;
    font-weight: 600;
}

.products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}