<div class="header">
    <div class="container">
        <header>
            <div class="logo" (click)="goHome()">
                <img src="assets/e-commerce.png" alt="logo">
            </div>
            <div class="search">
                <input type="text" [(ngModel)]="search" (keydown.enter)="Search()">
                <button (click)="Search()"><mat-icon>search</mat-icon></button>
            </div>
            <div class="header-components">
                <mat-icon>card_travel</mat-icon>
                <span>Become a Seller</span>
            </div>
            <div class="header-components" (click)="ShowLogin()">
                <mat-icon>person</mat-icon>
                <span>Sign In</span>
            </div>
            <div class="header-components">
                <mat-icon>shopping_cart</mat-icon>
                <span>Cart</span>
            </div>
        </header>
    </div>
</div>

<app-user-login [(showLogin)]="showLogin"></app-user-login>