<div class="overlay" *ngIf="showLogin">
    <div class="content">
        <div class="card model">
            <div class="show">
                <h1>Login</h1>
                <p>Get access to your Orders, Wishlist and Recommendations</p>
            </div>
            <div class="log-form">
                <button class="close" (click)="CloseLogin()"><mat-icon>close</mat-icon></button>
                <form class="login-form">

                    <div class="col">
                        <label for="email">Email</label>
                        <input [(ngModel)]="loginUserData.email" type="text" name="email" id="email">
                    </div>

                    <div class="col">
                        <label for="password">Password</label>
                        <input [(ngModel)]="loginUserData.password" type="password" name="password" id="password">
                    </div>

                    <button type="submit" class="butn" (click)="LoginUser()">Login</button>
                </form>
                <div class="sign-up">
                    <h3>New to E-Commerce website?</h3>
                    <button class="butn" (click)="goToRegister()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>