.category-page {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}

.category-pro {
    flex: 1;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.category-container {
    background-color: rgb(220, 220, 220);
}

.sidebar {
    /* position: -webkit-sticky; */
    position: sticky;
    top: 10px;
}

/* .products {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* @media (min-width:1140px){
    .products{
        width: 20%;
    }
}

@media (max-width:1140px){
    .products{
        width:25%;
    }
} */